
@{
    ViewBag.Title = "Bevestigen";
}

<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/bevestig.png" alt="bevestiging reservaties logo"/>
    </h1>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
            Tickets kiezen &raquo;
        </a>
        <a href="@Url.Action("Mandje", "Home")" class="btn btn-primary">
            Winkelmandje &raquo;
        </a>
    </p>
</div>
@if (Session["klant"] != null)
{
    var klant = (MVC_Cultuurhuis.Models.Klant) Session["klant"];
    ViewBag.klant = klant.Voornaam + " " + klant.Familienaam +
                    " " + klant.Straat + " " + klant.HuisNr + " " +
                    klant.Postcode + " " + klant.Gemeente;
}

<form method="post" action="~/Home/Bevestigen" class="form-horizontal">
    <h2>Stap 1: Wie ben je</h2>

    <div class="form-group">
        <label class="col-md-2 control-label">Gebruikersnaam</label>
        <div class="col-md-10">
            <input name="naam" id="naam" class="form-control" type="text"/>
        </div>
        <label class="col-md-2 control-label">Wachtwoord</label>
        <div class="col-md-10">
            <input name="paswoord" id="paswoord" class="form-control" type="password"/>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="zoek" value="Zoek me op" class="btn" @if (ViewBag.klant != null) { <text> disabled</text>
                                                                              } />
            <input type="submit" name="nieuw" value="Ik ben nieuw" class="btn" @if (ViewBag.klant != null) { <text> disabled</text>
                                                                              } />
            @if (ViewBag.klant != null)
            {
                <p class="alert alert-success">@ViewBag.klant</p>
            }
            @if (ViewBag.errorMessage != null)
            {
                <p class="alert alert-danger">@ViewBag.errorMessage</p>
            } 
        </div>
    </div>
    <h2>Stap 2: bevestigen</h2>
    <p>
        <input type="submit" name="bevestig" value="bevestigen" class="btn" @if (ViewBag.klant == null)
                                                                              {
                                                                                  <text>disabled</text>
                                                                              }/>
    </p>

    
</form>

