/*Layout voor toevoegen van bieren*/
.input {
    display: block;
    margin-bottom: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*layout van de tabel */

table.zebra, table.zebra td,table.zebra th {
    border: 1px solid silver;
    border-collapse: collapse;
} 

table.zebra thead {
    color: white;
    background-color: gray;
}

table.zebra tbody tr:nth-child(even) {

    background-color: #DDDDDD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.geel {
    color:gold;
}

.groen {
    color: green;
}

.oranje {
    color: orange;
}
.rood {
    color: red;
}

/* layout voor de validation*/

.validation-summary-errors {
    color: red;
    
}

.input-validation-error {
    border-color: red;
    background-color: #fff0f5;
}

.input-validation-valid {
    display: none;
}