@using System.Net.WebSockets
@using GameCollection.Models
@model int?
@{
    ViewBag.Title = "HomePage";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "consoleLijst"
    };
    if (ViewBag.Gekozenplatform != null)
    {
        var gekozenplatform = ViewBag.Gekozenplatform.ToString();
    }
}

<div id="jumbotron" class="jumbotron @ViewBag.Gekozenplatform">
    <div class="achterElkaar">
        <h2>Game Collection</h2>

        
            
        
    </div>

    <a href="@Url.Action("AddNewGame", "Home")" class="btn btn-primary">Nieuwe Game toevoegen  &raquo;</a>



</div>
<br />

<div class="dropdown">
    <button id="dropDown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Platform
        <span class="caret"></span>
    </button>
    <br />
    <ul id="ddMenu" class="dropdown-menu">
        @foreach (var platform in (List<Platform>)ViewBag.Platformen)
        {
            <li>@Ajax.ActionLink(platform.PlatformName,"LijstConsoles",
            new{gekozenPlatform = platform.Id},
            new AjaxOptions()
            {
                UpdateTargetId = "consoleLijst",
                InsertionMode = InsertionMode.Replace,
                HttpMethod ="GET"
               // Url = Url.Action("LijstGamesPerConsole", new { gekozenConsole = platform.Id  })
                
            })</li>

        }
    </ul>
    <br />
</div>


    <div id="consoleLijst"></div>
    <br />

    <div id="gameDetails"></div>





@section Scripts {
    <script src="~/Scripts/app/ConsoleScript.js"></script>
    <script src="~/Scripts/app/ResetViewHomepage.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}