
@using MVC_Cultuurhuis2.Models
@model int?
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/voorstellingen.png" alt="Voorstellingen logo"/>
    </h1>
    @if (ViewBag.winkelmandje)
    {
        <p>
            <a href="@Url.Action("Mandje", "Home")" class="btn btn-primary">Winkelmandje &raquo;</a>
            <a href="@Url.Action("Bevestiging","Home")" class="btn btn-primary">Kassa &raquo;</a>
        </p>
    }
</div>
@if (!Model.HasValue)
{
    <div id="kiesgenre" class="Lead alert alert-info"><p>Kies een voorstellingsgenre </p></div>
    
}


<div class="well">@Html.Action("GenreLijst", new{gekozenGenre = Model})</div>

<div id="lijst">
    @if (Model.HasValue)
    {
        @Html.Action("GetVoorstellingenVanGenre", new {gekozenGenre = Model})
    }
</div>





